<div id="footer">
<span class="menu">@Html.ActionLink("Go back to Flavors", "Index","Flavors")</span>
<span class="menu">@Html.ActionLink("Go back to Treats", "Index","Treats")</span>
<span class="menu">@Html.ActionLink("Go back to Home", "Index","Home")</span>

</div>